* {
  box-sizing: border-box;
  font-size: 1em;
  scroll-behavior: smooth;
}

html {
  --color-brightest: white;
  --color-darkest: black;
  --color-light-shade: #fcf7e8;
  --color-medium-shade: bisque;
  --color-darker-shade: #330;
  --color-dropped-shadow: #776;
}

#root {
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.resume-root.rich.dark {
  background-color: black;
}

.resume-root > main {
  margin: 0 auto;
  max-width: 50em;
  padding-bottom: 2em;
}

.source {
  text-align: left;
}

.source pre {
  background-color: #eef;
  overflow-x: auto;
  margin: 0 1em 2em;
  padding: 1em;
  border-radius: 1em;
}

a, a:visited {
  color: #24A;
  background-color: rgba(34, 68, 170, 0.03);
  border-radius: 0.6em;
}

#modal-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--color-brightest);;
  opacity: 0.4;
}
