* {
  box-sizing: border-box;
  font-size: 1em;
}

#root {
  height: 100vh;
}

/* body { background-color: bisque ;} */

.resume-root {
  position: relative;
  margin: 0 auto;
  background-color: #fffffa;
}

.resume-root.rich.dark {
  background-color: black;
}

.pagetop .navbar {
  text-align: center;
  padding-bottom: 1em;
  margin: 0 auto;
}

.pagetop .navbar :not(:nth-last-child(1))::after {
  content: ' â¦ ';
}

.switchbox {
  display: none;
}

@media screen {
  .switchbox {
    display: block;
    cursor: pointer;
  
    font-family: sans-serif;
    font-size: 1em;
  
    position: fixed;
    right: 0.5em;
    top: 0.5em;
  
    overflow: hidden;
    width: 1.4em;
    height: 1.4em;
  
    transition: width 0.3s;
  }
  
  .switchbox:hover {
    width: 9.6em;
  }

  .rich .switchbox:hover {
    width: 7.4em;
  }  
}


.resume-root > main {
  margin: 0 auto;
  max-width: 50em;
  padding-bottom: 2em;
}

@media screen and (min-height: 720px) {
  .resume-root.rich > main {
    margin-top: 14em;
    padding-top: 0.3em;
  }
  
  .rich a {
      scroll-margin-top: 15em;
  }
   
}

.source {
  text-align: left;
}

.source pre {
  background-color: #eef;
  overflow-x: auto;
  margin: 0 1em 2em;
  padding: 1em;
  border-radius: 1em;
}
