* {
  box-sizing: border-box;
  font-size: 1em;
}

body {
  background-color: black;
}

#root {
  background-color: white;
}

.resume-root {
  max-width: 50em;
  position: relative;
  margin: 0 auto;
}

.resume-root.rich {
  background-color: #FFFFFA;

  height: 100vh;

  display: flex;
  flex-direction: column;
}

.resume-root.rich.dark {
  background-color: black;
}

.switchbox {
  cursor: pointer;

  font-family: sans-serif;
  font-size: 1em;

  position: absolute;
  right: 0.5em;
  top: 0.5em;

  overflow: hidden;
  width: 1.4em;
  height: 1.4em;

  transition: width 0.3s;
}

      .switchbox:hover { width: 9.6em; }
.rich .switchbox:hover { width: 7.4em; }

.rich main {
  flex-grow: 10;
  overflow-y: auto;
}


.resume-root pre {
  background-color: #eef;
  overflow-x: auto;
  margin: 0;
}
