main article.job header {
  font-size: 1.2em;
  font-weight: 600;
  align-items: center;
}

.rich main article.job header {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article.job .unfolder {
  display: none;
}

.rich article.job.old .unfolder {
  display: inline-block;
  cursor: pointer;
  min-width: 1.3em;
  border-radius: 1em;
  background-color: #CBA;
  text-align: center;
}

.rich article.job.old main {
  display: none;
}

article.job header div {
  margin: 0;
  margin-right: 1em;
  white-space: pre;
}

article ul,
article ol {
  margin-right: 1em;
}

.rich article.job header div:nth-child(2) {
  flex-grow: 4;
  text-align: left;
}
