@font-face {
  font-family: "Cabin";
  src: url("./fonts/Cabin-VariableFont_wdth,wght.ttf");
}

body {
  background-color: white;
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-size: 110%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
