.yaml-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    padding: 0.5em;
    display: flex;
    flex-flow: column;
}

.yaml-editor button {
    width: 5em;
    height: 2em;
    margin: 0 0.5em 0.5em 0;
}

.yaml-editor textarea {
    white-space: pre;
    overflow-wrap: normal;
    padding: 0.2em;
    resize: none;
    font-size: 0.9em;
    flex-grow: 1;
    border-radius: 0.4em;
}

@media screen and (min-width: 600px) {
    .yaml-editor textarea {
        font-size: 1.2em;
    }
    .yaml-editor {
        padding: 1em;
    }
}
