#main-menu,  #burger,
#home-arrow, #mail-me {
    position: fixed;
    right:    0.5em;
    cursor:   pointer;
    border-radius: 0.4em;
}

#home-arrow         { bottom: 0.5em; }
#main-menu, #burger {    top: 0.5em; }
#mail-me            {    top: 3.4em; }


#burger, #home-arrow, #mail-me {
    width:      2.4em;
    height:     2.4em;
    padding:    0.2em;
    text-align: center;
    color:    white;
    background-color: #330;
}
@media screen and (hover: hover) {
    #home-arrow:hover,
    #burger:hover,
    #mail-me:hover
    {
        color: black;
        background-color: bisque;
    }
}
#mail-me {
    padding: 0.4em;
}

#main-menu > div:nth-child(1) {
    border-top-left-radius:  0.4em;
    border-top-right-radius: 0.4em;
}
#main-menu > div:nth-last-child(1) {
    border-bottom-left-radius:  0.4em;
    border-bottom-right-radius: 0.4em;
}

.pulse-me {
    animation: heartBeat 0.5s;
}

#burger > svg, #home-arrow > svg {
    width:   2em;
    height:  2em;
    margin:  auto;
}
#home-arrow > svg {
    width:   1.6em;
    height:  1.6em;
    margin-top: 0.2em;
}

#main-menu {
    background-color: white;
    box-shadow: -4px 4px 12px #777;
}
#main-menu > div {
    padding: 0.3em;
    display: flex;
    align-items:    center;
    flex-direction: row;
}
#main-menu > div:hover {
    background-color: #fcf7e8;
}

#main-menu svg {
    width:  1.6em;
    height: 1.6em;
    margin-right: 0.4em;
}

#main-menu-modal-bg {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: white;
    opacity: 0.4;
}

.slide-in  { animation: slideInRight;  }
.slide-out { animation: slideOutRight; }
.slide-in, .slide-out {
    animation-duration: 0.3s;
}

@media print {
    #burger, #home-arrow { display: none }
}
