#main-menu, #burger, #home-arrow {
    cursor:   pointer;
    position: fixed;
    right: 0.5em;
    border-radius: 0.4em;
}
#main-menu, #burger {
    top:   0.5em;
}
#home-arrow {
    bottom:   0.5em;
}
#burger, #home-arrow {
    background-color: #330;
    color: white;
    width:   2.4em;
    height:  2.4em;
    padding: 0.2em;
    text-align: center;
}

#main-menu > div:nth-child(1) {
    border-top-left-radius:  0.4em;
    border-top-right-radius: 0.4em;
}
#main-menu > div:nth-last-child(1) {
    border-bottom-left-radius:  0.4em;
    border-bottom-right-radius: 0.4em;
}

.pulse-me {
    animation: heartBeat 0.5s;
}

#burger > svg, #home-arrow > svg {
    width:   2em;
    height:  2em;
    margin:  auto;
}
#home-arrow > svg {
    width:   1.6em;
    height:  1.6em;
    margin-top: 0.2em;
}

    #burger:hover,
#home-arrow:hover       { background-color: bisque; }
#home-arrow:hover > svg,
    #burger:hover > svg { color: black; }

#main-menu {
    background-color: white;
    box-shadow: -4px 4px 12px #777;
}
#main-menu > div {
    padding: 0.3em;
    display: flex;
    align-items:    center;
    flex-direction: row;
}
#main-menu > div:hover {
    background-color: #fcf7e8;
}

#main-menu svg {
    width:  1.6em;
    height: 1.6em;
    margin-right: 0.4em;
}

#main-menu-modal-bg {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: white;
    opacity: 0.4;
}

.slide-in  { animation: slideInRight;  }
.slide-out { animation: slideOutRight; }
.slide-in, .slide-out {
    animation-duration: 0.3s;
}

@media print {
    #burger, #home-arrow { display: none }
}
