.rich > header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.resume-root > header > div {
  top: 0;
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.resume-root > header > div > main {
  min-height: 12em;
  display: flex;
  flex-direction: row;
  align-items:stretch;
}

/* photo container */
.resume-root > header > div > main > header {
  flex: 0 0 auto;
  padding: 1em 0 1em 1em ;
  overflow: hidden;
}

.resume-root > header > div > main >  main {
  flex: 1 1 auto;
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-content:stretch;
  flex-wrap: wrap;
}

.resume-root > header main > main > header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
}

.resume-root > header main main h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  text-align: left;
  flex: 0 1 auto;
  background-color: white;
  max-width: 86%;
}

.resume-root > header main main div {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.resume-root > header main table {
  flex: 0 1 auto;
}

.resume-root > header main table p {
  margin: 0;
}

.resume-root > header main th {
  text-align: left;
  padding: 0;
  margin: 0;
}

.resume-root > header .navbar {
  text-align: center;
  margin: 0.5em auto;
}

.resume-root > header .navbar :not(:nth-last-child(1))::after {
  content: ' â— ';
}

/*

The email link and icon are styled in MainMenu.css
to align with the hamburger and the "Home" arrow.

*/